		.box2-wstools { border:1px #217dc0 solid; }
		.box2-wstools .box2-top { background-color:#217dc0; color:#FFF; padding:5px 10px; font-size:20px; text-transform:uppercase; }
		.box2-wstools .box2-bottom { margin-top:20px; background-color:#217dc0; color:#FFF; padding:5px 10px; text-align:right; }
		.box2-wstools .box2-bottom img { height:25px; }